
fastapi
uvicorn[standard]
qdrant-client
sentence-transformers
openai
python-dotenv
aiohttp
pydantic
torch --index-url https://download.pytorch.org/whl/cpu
streamlit
pymupdf
PyJWT
cryptography
stripe
httpx